@import url('https://fonts.googleapis.com/css?family=Russo+One|Fascinate|Geostar|Quicksand|Raleway&display=swap');
body{
    background-image: url("http://www.textures4photoshop.com/tex/thumbs/matrix-code-animation-gif-free-animated-background-716.gif");
    background-attachment: fixed;
    background-size: 100%;
    margin:0;
}

.top_screen{
    text-align: center;
    background: chartreuse;
    border: ridge 5px rgb(23, 131, 41);
    color: gold;
    font-family: "Russo One";
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: darkslategray;
}
.top_screen header{
    font-size: 90px;
}
.top_screen h1{
    font-size: 35px;
    -webkit-text-stroke-width: 1px;
}
.universal_styling{
    color: gold;
}
.about{
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    background-color: olivedrab;
    
}
.about p{
    font-family: "Raleway";
    font-size: 20px;
    margin-bottom: 5px;
}
.about > h1{
    font-family: "Quicksand";
    margin-top: 10px;
    font-size: 60px;
}
#headshot_image{
    float: left;
    width: 18%;
    height:18%;
    margin: 10px;
    padding:10px;
}

.skills{
    background-color: darkolivegreen;
    display:grid;
    grid-template-areas: 
    "header header"
    "main sidebar";
    grid-template-columns: 50% 50%;
    font-family: "Raleway";
    margin-bottom: 150px;
    margin-left:10px;
    margin-right: 10px;
    font-size: 35px;
}
.skills > h1{
    font-family: "Quicksand";
    grid-area: header;
    justify-self: center;
}
.skills > ul{
    grid-area: main;
}
.images{
    padding-left: 0;
}

.images img{
    width: 30%;
    height:30%;
    margin:0;
    grid-area: sidebar;
    justify-self: center;
}
.portfolio{
    font-family:"Raleway";
    background-color: seagreen;
    margin-left:10px;
    margin-right:10px;
    font-size: 25px;
}
.portfolio > h1{
    font-size: 60px;
    font-family: "Quicksand";
}
#links{
    display: grid;
    grid-template-areas: 
    "main1 main2 main3 main4 main5"
    "header1 header2 header3 header4 header5";
    grid-template-columns: repeat(5, minmax(250px, 1fr) );
    
 }
#links a{
    justify-self: center;
}
#links img{
    width: 250px;
    height: 250px;
    
}
#bouncyBall{
    justify-self: center;
    grid-area: main3;
}
#mash{
    grid-area: main2;
}
#links #mashImg{
    grid-area: header2;
}
#alphaImg{
    grid-area: header5;
}
#mazelessImg{
    grid-area: header4;
}
#ballImg{
    grid-area: header3;
}
#pokeImg{
    grid-area: header1;
}
#pokemon{
    grid-area: main1;
}
#mazeless_runner{
    grid-area: main4;
}
#alphaplaylist{
    grid-area: main5;
}
.socials{
    font-family:"Raleway";
    background-color: darkseagreen;
    margin-top:150px;
    margin-left:10px;
    margin-right:10px;
    font-size: 30px;
}
#linkedinCircle {
    width: 150px;
    height: 150px;
}
#twitter{
    width: 175px;
    height: 175px;
}
#instagram{
    width: 150px;
    height:150px;
}